:root {
  --newsweek-red: #f72210;
}

body {
  font-family: Arial, sans-serif;
  max-width: 1310px;
  margin: auto;
  background-color: #f4f5f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.navbar-brand svg {
  width: 132px;
  fill: #fff;
}

@media (min-width: 992px) {
  .navbar-brand svg {
    width: 396px;
  }
}

/* Utility classes */
.bg-newsweek {
  background-color: var(--newsweek-red);
}

/* Font classes */
.font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.fs-9 {
  font-size: 9px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.nav-link {
  color: #000;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 0.825vw;
  padding-right: 0.825vw;
}

.form-inline::after {
  position: absolute;
  right: 0;
  font-family: 'Genericons', monospace;
  font-size: 25px;
  content: "\f400";
}

#search-box {
  width: 100px;
}

#search-box:focus {
  box-shadow: none;
}

.block-title {
  color: rgba(3, 3, 3, 0.4);
  font-weight: 700;
}

.media img {
  width: 96px;
  height: 96px;
  object-fit: cover;
}
